/*.submenu-Cards{

    height: 100%;

    ion-card {
        position: relative;
        text-align: center;
        height: 20%;
        width: 100%;
    } 

    
}
*/

    .submenu-BtnCart{
        margin-top: 15px;
        background-color: #32cd32;
        width: 100%;
        color: #FFFFFF;
    }

    .submenu-Price{
        display: inline;
        float: right;
        color: #FFFFFF;
    }

    .submenu-Message{
        display: inline;
        float: center; 
        color: #FFFFFF;
    }

    .submenu-Calories{
        display: inline;
        float: left;
        color: #FFFFFF;
    }